// color values
$primary-root-color:    hsl(0, 96%, 44%);
$secondary-root-color:  hsl(0, 0%, 0%);
$success-root-color:    hsl(152, 79%, 42%);
$info-root-color:       hsl(189, 42%, 47%);
$warning-root-color:    hsl(39, 100%, 53%);
$danger-root-color:     hsl(360, 100%, 32%);


// border radius
$custom-border-radius-base:   0px;
$custom-border-radius-large:  size-by-factor-function($custom-border-radius-base, 1.5) !default;
$custom-border-radius-small:  size-by-factor-function($custom-border-radius-base, 0.75) !default;